@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data
@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Afilhado4Patas</title>
    <!-- Site files -->
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Galeria de Fotos -->
    <link href="~/css/jcarousel.connected-carousels.css" rel="stylesheet" />
    <script src="~/js/jcarousel.connected-carousels.js"></script>
    <script src="~/js/jquery.jcarousel.min.js"></script>
    <!--<script src="~/js/jquery.js"></script>-->
    <!-- ClockPicker -->
    <link href="~/css/clockpicker.css" rel="stylesheet" />
    <script src="~/js/clockpicker.js"></script>
    <!-- DatePicker -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <!-- Calendario -->
    <!--<link rel='stylesheet' href='~/fullcalendar/fullcalendar.css' />-->
    <link rel='stylesheet' href='~/fullcalendar/fullcalendar-custom.css' />
    <link href='~/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media="print" />

    <script type="text/javascript" src='~/fullcalendar/lib/jquery.min.js'></script>
    <script type="text/javascript" src='~/fullcalendar/lib/moment.min.js'></script>
    <script type="text/javascript" src='~/fullcalendar/lib/jquery-ui.custom.min.js'></script>
    <script type="text/javascript" src='~/fullcalendar/fullcalendar.js'></script>
    <script type="text/javascript" src='~/fullcalendar/locale-all.js'></script>

</head>
<body>
    @if (User.IsInRole("Responsavel"))
    {
        <a asp-controller="Responsavel" asp-action="Index" style="text-decoration: none"><img id="logo" src="~/images/logo.png" /></a>
    }
    else if (User.IsInRole("Funcionario"))
    {
        <a asp-controller="Funcionario" asp-action="Index" style="text-decoration: none"><img id="logo" src="~/images/logo.png" /></a>
    }
    else if (User.IsInRole("Utilizador"))
    {
        <a asp-controller="Utilizador" asp-action="Index" style="text-decoration: none"><img id="logo" src="~/images/logo.png" /></a>
    }
    else
    {
        <a asp-controller="Guest" asp-action="Index" style="text-decoration: none"><img id="logo" src="~/images/logo.png" /></a>
    }
    <nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
        <div id="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navegador" class="navbar-collapse collapse">
                <ul class="menu clearfix float-left">
                    @if (User.IsInRole("Responsavel"))
                    {
                        <li><a asp-controller="Responsavel" asp-action="Index">Inicio</a></li>
                        <li><a asp-controller="Responsavel" asp-action="About">Sobre nós</a></li>
                        <li>
                            <a asp-controller="Responsavel" asp-action="Adotar">Adotar</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Responsavel" asp-action="PedidosAdocao">Pedidos de Adoção</a></li>
                                <li><a asp-controller="Responsavel" asp-action="PedidosFimSemana">Pedidos Fins de Semana</a></li>
                                <li><a asp-controller="Responsavel" asp-action="PedidosPasseio">Pedidos de Passeios</a></li>
                                <li><a asp-controller="Responsavel" asp-action="ConvocarReuniao">Convocar Reunião (Controlo Animal)</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Responsavel" asp-action="Doar">Doar</a></li>
                        <li>
                            <a>Animais</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Responsavel" asp-action="Animais">Os nossos Animais</a></li>
                                <li><a asp-controller="Responsavel" asp-action="RegistoAnimal">Registo Animal</a></li>
                                <li><a asp-controller="Responsavel" asp-action="ListaAnimais">Lista Animais (Detalhada)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Funcionarios</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Responsavel" asp-action="ListaFuncionarios">Lista de Funcionarios</a></li>
                                <li><a asp-controller="Responsavel" asp-action="AdicionarFuncionario">Adicionar Funcionario</a></li>
                                <li><a asp-controller="Responsavel" asp-action="ListaTarefas">Lista de Tarefas</a></li>
                                <li><a asp-controller="Responsavel" asp-action="AdicionarTarefa">Adicionar Tarefa</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Responsavel" asp-action="Contact">Contactos</a></li>
                    }
                    else if (User.IsInRole("Funcionario"))
                    {
                        <li><a asp-controller="Funcionario" asp-action="Index">Inicio</a></li>
                        <li><a asp-controller="Funcionario" asp-action="About">Sobre nós</a></li>
                        <li>
                            <a asp-controller="Funcionario" asp-action="Adotar">Adotar</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Funcionario" asp-action="PedidosAdocao">Pedidos de Adoção</a></li>
                                <li><a asp-controller="Funcionario" asp-action="PedidosFimSemana">Pedidos Fins de Semana</a></li>
                                <li><a asp-controller="Funcionario" asp-action="PedidosPasseio">Pedidos de Passeios</a></li>
                                <li><a asp-controller="Funcionario" asp-action="ConvocarReuniao">Convocar Reunião (Controlo Animal)</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Funcionario" asp-action="Doar">Doar</a></li>
                        <li>
                            <a asp-controller="Funcionario" asp-action="Animais">Animais</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Funcionario" asp-action="Animais">Os nossos Animais</a></li>
                                <li><a asp-controller="Funcionario" asp-action="RegistoAnimal">Registo Animal</a></li>
                                <li><a asp-controller="Funcionario" asp-action="ListaAnimais">Lista Animais (Detalhada)</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Funcionarios</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Funcionario" asp-action="MinhasTarefas" asp-route-id="@UserManager.GetUserName(User)">Minhas Tarefas</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Funcionario" asp-action="Contact">Contactos</a></li>
                    }
                    else if (User.IsInRole("Utilizador"))
                    {
                        <li><a asp-controller="Utilizador" asp-action="Index">Inicio</a></li>
                        <li><a asp-controller="Utilizador" asp-action="About">Sobre nós</a></li>
                        <li>
                            <a asp-controller="Utilizador" asp-action="Adotar">Adotar</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Utilizador" asp-action="PedidoAdocao" asp-route-id="@UserManager.GetUserId(User)">Realizar Pedido de Adoção</a></li>
                                <li><a asp-controller="Utilizador" asp-action="MeusPedidos" asp-route-id="@UserManager.GetUserId(User)">As minhas de Adoções</a></li>
                                <li><a asp-controller="Utilizador" asp-action="MeusPedidosFimSemana" asp-route-id="@UserManager.GetUserId(User)">Os meus Fins de Semanas</a></li>
                                <li><a asp-controller="Utilizador" asp-action="MeusPedidosPasseio" asp-route-id="@UserManager.GetUserId(User)">Os meus Passeios</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Utilizador" asp-action="Doar">Doar</a></li>
                        <li>
                            <a>Animais</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Utilizador" asp-action="Animais">Os nossos Animais</a></li>
                                <li><a asp-controller="Utilizador" asp-action="MeusAnimais" asp-route-id="@UserManager.GetUserId(User)">Os meus animais</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Amizades</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Utilizador" asp-action="pedirAmizade">Pedir amizades</a></li>
                                <li><a asp-controller="Utilizador" asp-action="pedidosAmizade">Pedidos amizades</a></li>
                                <li><a asp-controller="Utilizador" asp-action="listaPedidos">Os teus pedidos</a></li>
                                <li><a asp-controller="Utilizador" asp-action="listaAmizades">Lista amigos</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Utilizador" asp-action="Contact">Contactos</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Guest" asp-action="Index">Inicio</a></li>
                        <li><a asp-controller="Guest" asp-action="About">Sobre nós</a></li>
                        <li><a asp-controller="Guest" asp-action="Adotar">Adotar</a></li>
                        <li><a asp-controller="Guest" asp-action="Doar">Doar</a></li>
                        <li>
                            <a>Animais</a>
                            <ul class="sub-menu clearfix">
                                <li><a asp-controller="Guest" asp-action="Animais">Os nossos Animais</a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="Guest" asp-action="Contact">Contactos</a></li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>


    <partial name="_CookieConsentPartial" />

    <div class="body-content">
        @RenderBody()
        <!--
        <hr />
        <footer>
            <p>&copy; 2018 - Afilhado4Patas</p>
        </footer>
            -->
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
