@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Utilizador"))
            {
                <li>
                    <a asp-controller="Utilizador" asp-action="Perfil" asp-route-id="@UserManager.GetUserName(User)" title="Manage">Ola @UserManager.GetUserName(User)!</a>
                </li>
            }
            else if (User.IsInRole("Funcionario"))
            {
                <li>
                    <a asp-controller="Funcionario" asp-action="Perfil" asp-route-id="@UserManager.GetUserName(User)" title="Manage">Ola @UserManager.GetUserName(User)!</a>
                </li>
            }
            else if (User.IsInRole("Responsavel"))
            {
                <li>
                    <a asp-controller="Responsavel" asp-action="Perfil" asp-route-id="@UserManager.GetUserName(User)" title="Manage">Ola @UserManager.GetUserName(User)!</a>
                </li>
            }
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Fechar Sessao</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul id="ul_nav_items_login" class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Registo</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Inicie Sessao</a></li>
    </ul>
}