@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="menu clearfix float-right">
            <li>
                @{Utilizadores user = Context.Utilizadores.Where(u => u.Email == UserManager.GetUserName(User)).FirstOrDefault();
                    Perfil perfil = Context.PerfilTable.Where(p => p.Id == user.PerfilId).FirstOrDefault();
                    string src = "";
                    if (perfil.Photo != null)
                    {
                        src = "/Utilizadores/" + user.Id + "/" + perfil.Photo;                        
                    }
                    else
                    {
                        src = "/images/default.jpg";
                    }
                    @if (User.IsInRole("Utilizador"))
                    {
                        <a asp-controller="Utilizador" asp-action="Dashboard" asp-route-id="@UserManager.GetUserName(User)" title="Perfil de Utilizador">
                            <img id="icon_utilizador" src="@src"/>
                            <span id="nome">@perfil.FirstName @perfil.LastName</span>
                        </a>
                    }

                    else if (User.IsInRole("Funcionario"))
                    {
                        <a asp-controller="Funcionario" asp-action="Dashboard" asp-route-id="@UserManager.GetUserName(User)" title="Perfil de Utilizador">
                            <img id="icon_utilizador" src="@src" />
                            <span id="nome">@perfil.FirstName @perfil.LastName</span>
                        </a>
                    }
                    else if (User.IsInRole("Responsavel"))
                    {
                        <a asp-controller="Responsavel" asp-action="Dashboard" asp-route-id="@UserManager.GetUserName(User)" title="Perfil de Utilizador">
                            <img id="icon_utilizador" src="@src" />
                            <span id="nome">@perfil.FirstName @perfil.LastName</span>
                        </a>
                    }
                }
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link" id="fechar_sessao">Fechar Sessao</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul id="ul_nav_items_login" class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Registo</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Iniciar Sessao</a></li>
    </ul>
}