
@{
    ViewData["Title"] = "Dashboard";
}

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@model Afilhado4Patas.Data.Utilizadores

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context

<link href="~/css/DashboardUser/dashboardUser.css" rel="stylesheet" />
<link href="~/css/Friends/friendsList.css" rel="stylesheet" />
<link href="~/css/Table/tabela.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="~/js/Estatisticas.js"></script>
<div id="dashboardUser">
    <div id="vertical_1">
        <div class="box_foto">
            @{Utilizadores user = Context.Utilizadores.Where(u => u.Email == UserManager.GetUserName(User)).FirstOrDefault();
                Perfil perfil = Context.PerfilTable.Where(p => p.Id == user.PerfilId).FirstOrDefault();
                if (perfil.Photo != null)
                {
                    string src = "/Utilizadores/" + user.Id + "/" + perfil.Photo;
                    <img id="imagem_perfil" src="@src" />
                }
                else
                {
                    <img id="imagem_perfil" src="~/images/default.jpg" />
                }
            }
        </div>
        <div class="edit_perfil primeiro">
            <a id="botoes" asp-controller="Funcionario" asp-action="PerfilEditarDadosPessoais" asp-route-id="@UserManager.GetUserName(User)" title="Editar Dados Pessoais">
                <i class="fa fa-user-edit icon"></i>
            </a>
        </div>
        <div class="edit_perfil segundo">
            <a id="botoes" asp-controller="Funcionario" asp-action="PerfilEditarPalavraPasse" asp-route-id="@UserManager.GetUserName(User)" title="Alterar Palavra-Passe">
                <i class="fa fa-key icon"></i>
            </a>
        </div>
        <div class="edit_perfil terceiro">
            <a id="botoes" asp-controller="Funcionario" asp-action="PerfilEditarMorada" asp-route-id="@UserManager.GetUserName(User)" title="Editar Morada">
                <i class="fa fa-map-marked-alt icon"></i>
            </a>
        </div>
        <div class="edit_perfil quarto">
            <a id="botoes" asp-controller="Funcionario" asp-action="PerfilEditarFotoPerfil" asp-route-id="@UserManager.GetUserName(User)" title="Editar Foto de Perfil">
                <i class="fa fa-user-circle icon"></i>
            </a>
        </div>
    </div>
    <div id="vertical_2">
        <div id="informacoes">
            <div id="superior">
                Dados Pessoais (FUNCIONÁRIO)
            </div>
            <div id="info_first">
                <div id="spacing">
                    <i class="fa fa-user cinzento"></i>
                    <span id="info">@Model.Perfil.FirstName @Model.Perfil.LastName</span>
                </div>
                <div id="spacing">
                    <i class="fa fa-calendar-alt cinzento"></i>
                    <span id="info">@Model.Perfil.Birthday.ToString("dd/MM/yyyy")</span>
                </div>
                <div id="spacing">
                    <i class="fa fa-male cinzento"></i>
                    <span id="info">@Model.Perfil.Genre</span>
                </div>
            </div>
            <div id="info_second">
                <div id="spacing">
                    <i class="fa fa-envelope cinzento"></i>
                    <span id="info">@Model.Email</span>
                </div>
                <div id="spacing">
                    <i class="fa fa-map-marker-alt cinzento"></i>
                    <span id="info">@Model.Perfil.City</span>
                </div>
            </div>
        </div>
        <div id="principal">
            <div id="superior">Estatisticas do Sistema</div>
            <div id="stat1" class="stat">
                <div id="PieChart1"></div>
                <div id="PieChart2"></div>
            </div>
            <div id="stat2" class="stat">
                <div id="BarChart1"></div>
            </div>
            <div id="stat3" class="stat">
                <div id="BarChart2"></div>
            </div>
            <div id="stat4" class="stat">
                <div id="BarChart3"></div>
            </div>
            <div id="stat5" class="stat">
                <div id="BarChart4"></div>
            </div>
        </div>
    </div>
    <div id="vertical_3_funcionario">
        <div class="quinto">
            <a id="botoes" asp-controller="Funcionario" asp-action="MinhasTarefas" asp-route-id="@UserManager.GetUserName(User)" title="As minhas tarefas">
                <img class="imagem_miniatura" src="~/images/tarefas.png" />
                <span class="texto_miniatura">Minhas Tarefas</span>
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });

    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        $.ajax({
            type: "GET",
            url: "/Funcionario/PieAnimal",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Tipo Animal');
                dataG.addColumn('number', 'Quantidade');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsPie = {
                    'title': data.title,
                    is3D: true
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.PieChart(document.getElementById('PieChart1'));

                chart1.draw(dataG, optionsPie);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Funcionario/PieMf",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Sexo Utilizador');
                dataG.addColumn('number', 'Quantidade');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsPie = {
                    'title': data.title,
                    is3D: true
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.PieChart(document.getElementById('PieChart2'));

                chart1.draw(dataG, optionsPie);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Funcionario/adocoesPorMes",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Mes');
                dataG.addColumn('number', 'Adocoes');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                    debugger;
                }
                var optionsBar = {
                    'title': data.title
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.BarChart(document.getElementById('BarChart1'));

                chart1.draw(dataG, optionsBar);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Funcionario/apadrinhamentosPorMes",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Mes');
                dataG.addColumn('number', 'Apadrinhamentos');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsBar = {
                    'title': data.title
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.BarChart(document.getElementById('BarChart2'));

                chart1.draw(dataG, optionsBar);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Funcionario/numeroPedidosPasseioPorMes",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Mes');
                dataG.addColumn('number', 'Passeios');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsBar = {
                    'title': data.title
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.BarChart(document.getElementById('BarChart3'));

                chart1.draw(dataG, optionsBar);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });

        $.ajax({
            type: "GET",
            url: "/Funcionario/numeroPedidosFdsPorMes",
            dataType: "json",
            success: function (data) {
                var dataG = new google.visualization.DataTable();
                dataG.addColumn('string', 'Mes');
                dataG.addColumn('number', 'Fins de Semana');

                var aux = data.dataObjects;
                for (var i = 0; i < aux.length; i++) {
                    dataG.addRow([aux[i]["label"], aux[i]["value"]]);
                }
                var optionsBar = {
                    'title': data.title
                };
                var view = new google.visualization.DataView(dataG);
                view.setColumns([0, 1]);

                var chart1 = new google.visualization.BarChart(document.getElementById('BarChart4'));

                chart1.draw(dataG, optionsBar);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
</script>

