
@{
    ViewData["Title"] = "Dashboard";
}

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@model Afilhado4Patas.Data.Utilizadores

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context

<link href="~/css/DashboardUser/dashboardUser.css" rel="stylesheet" />
<link href="~/css/Friends/friendsList.css" rel="stylesheet" />
<link href="~/css/Table/tabela.css" rel="stylesheet" />
<div id="rectangulo_dashboard"></div>
<div id="dashboardUser">
    <div id="vertical_1">
        <div class="box_foto">
            @{Utilizadores user = Context.Utilizadores.Where(u => u.Email == UserManager.GetUserName(User)).FirstOrDefault();
                Perfil perfil = Context.PerfilTable.Where(p => p.Id == user.PerfilId).FirstOrDefault();
                if (perfil.Photo != null)
                {
                    string src = "/Utilizadores/" + user.Id + "/" + perfil.Photo;
                    <img id="imagem_perfil" src="@src" />
                }
                else
                {
                    <img id="imagem_perfil" src="~/images/default.jpg" />
                }
            }
        </div>
        <div class="edit_perfil primeiro">
            <a id="botoes" asp-controller="Funcionario" asp-action="PerfilEditarDadosPessoais" asp-route-id="@UserManager.GetUserName(User)" title="Editar Dados Pessoais">
                <i class="fa fa-user-edit icon"></i>
            </a>
        </div>
        <div class="edit_perfil segundo">
            <a id="botoes" asp-controller="Funcionario" asp-action="PerfilEditarPalavraPasse" asp-route-id="@UserManager.GetUserName(User)" title="Alterar Palavra-Passe">
                <i class="fa fa-key icon"></i>
            </a>
        </div>
        <div class="edit_perfil terceiro">
            <a id="botoes" asp-controller="Funcionario" asp-action="PerfilEditarMorada" asp-route-id="@UserManager.GetUserName(User)" title="Editar Morada">
                <i class="fa fa-map-marked-alt icon"></i>
            </a>
        </div>
        <div class="edit_perfil quarto">
            <a id="botoes" asp-controller="Funcionario" asp-action="PerfilEditarFotoPerfil" asp-route-id="@UserManager.GetUserName(User)" title="Editar Foto de Perfil">
                <i class="fa fa-user-circle icon"></i>
            </a>
        </div>
    </div>
    <div id="vertical_2">
        <div id="informacoes">
            <div id="superior">
                Dados Pessoais (FUNCIONÁRIO)
            </div>
            <div id="info_first">
                <div id="spacing">
                    <i class="fa fa-user cinzento"></i>
                    <span id="info">@Model.Perfil.FirstName @Model.Perfil.LastName</span>
                </div>
                <div id="spacing">
                    <i class="fa fa-calendar-alt cinzento"></i>
                    <span id="info">@Model.Perfil.Birthday.ToString("dd/MM/yyyy")</span>
                </div>
                <div id="spacing">
                    <i class="fa fa-male cinzento"></i>
                    <span id="info">@Model.Perfil.Genre</span>
                </div>
            </div>
            <div id="info_second">
                <div id="spacing">
                    <i class="fa fa-envelope cinzento"></i>
                    <span id="info">@Model.Email</span>
                </div>
                <div id="spacing">
                    <i class="fa fa-map-marker-alt cinzento"></i>
                    <span id="info">@Model.Perfil.City</span>
                </div>
            </div>
        </div>
    </div>
    <div id="vertical_3_funcionario">
        <div class="quinto">
            <a id="botoes" asp-controller="Funcionario" asp-action="MinhasTarefas" asp-route-id="@UserManager.GetUserName(User)" title="As minhas tarefas">
                <img class="imagem_miniatura" src="~/images/tarefas.png" />
                <span class="texto_miniatura">Minhas Tarefas</span>
            </a>
        </div>
    </div>
</div>

