@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@model Afilhado4Patas.Models.ViewModels.DetalhesAnimal

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager

@{
    ViewData["Title"] = "DetalhesAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Table/tabela.css" rel="stylesheet" />
<div id="rectangulo_maior"></div>
<div id="page" class="page_maior">
    <div style="height: 120px">
        <div style="float: left">
            @{
                if (Model.Animal.Foto != null)
                {
                    string src = "/Animais/" + Model.Animal.Id + "/" + Model.Animal.Foto;
                    <img id="imagem_animal" src="@src" />
                }
                else
                {
                    <img id="imagem_animal" src="~/images/dog-profile.png" />
                }
            }
        </div>
        <div style="float:left; margin-left: 20px">
            <div style="margin-bottom: 5px">
                <a id="links_animal" asp-controller="Funcionario" asp-action="EditarAnimal" asp-route-id=@Model.Animal.Id>
                    <i class="fa fa-edit grey_icon" title="Remover Ficheiro"></i>
                    Editar Animal
                </a>
            </div>
            <div style="margin-bottom: 5px">
                <a id="links_animal" asp-controller="Funcionario" asp-action="EditarAnimalFotoPerfil" asp-route-id=@Model.Animal.Id>
                    <i class="fa fa-user-circle grey_icon" title="Remover Ficheiro"></i>
                    Editar Foto de Perfil
                </a>
            </div>
            <div style="margin-bottom: 5px">
                <a id="links_animal" asp-controller="Funcionario" asp-action="AdicionarAnexosFotosAnimal" asp-route-id=@Model.Animal.Id>
                    <i class="fa fa-image grey_icon" title="Remover Ficheiro"></i>
                    Adicionar Fotos á Galeria
                </a>
            </div>
            <div style="margin-bottom: 5px">
                <a id="links_animal" asp-controller="Funcionario" asp-action="AdicionarAnexosFicheirosAnimal" asp-route-id=@Model.Animal.Id>
                    <i class="fa fa-file-pdf grey_icon" title="Remover Ficheiro"></i>
                    Adicionar Anexos
                </a>
            </div>
        </div>
    </div>
    <h3 style="color: #fff">Ficha Detalhada</h3>
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Animal.NomeAnimal)</th>
                    <th>@Html.DisplayNameFor(model => model.Animal.DataNasc)</th>
                    <th>@Html.DisplayNameFor(model => model.Animal.Sexo)</th>
                    <th>@Html.DisplayNameFor(model => model.Animal.Peso) Kg</th>
                    <th>@Html.DisplayNameFor(model => model.Animal.Descricao)</th>
                    <th>@Html.DisplayNameFor(model => model.Animal.PorteId)</th>
                    <th>@Html.DisplayNameFor(model => model.Animal.RacaAnimal.CategoriaId)</th>
                    <th>@Html.DisplayNameFor(model => model.Animal.RacaId)</th>
                    <th>@Html.DisplayNameFor(model => model.Animal.Ativo)</th>
                    <th>@Html.DisplayNameFor(model => model.Animal.Adoptado)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Nome Animal">
                        @Model.Animal.NomeAnimal
                    </td>
                    <td data-title="Data Nascimneto">
                        @Model.Animal.DataNasc.ToString("dd/MM/yyyy")
                    </td>
                    <td data-title="Sexo">
                        @Model.Animal.Sexo
                    </td>
                    <td data-title="Peso">
                        @Model.Animal.Peso Kg
                    </td>
                    <td data-title="Descricao">
                        @Model.Animal.Descricao
                    </td>
                    <td data-title="Porte">
                        @Model.Animal.PorteAnimal.TipoPorte
                    </td>
                    <td data-title="Especie">
                        @Model.Animal.RacaAnimal.CategoriaRaca.Nome
                    </td>
                    <td data-title="Raca">
                        @Model.Animal.RacaAnimal.NomeRaca
                    </td>
                    <td data-title="Ativo">
                        @Html.DisplayFor(model => model.Animal.Ativo)
                    </td>
                    <td data-title="Adotado">
                        @Html.DisplayFor(model => model.Animal.Adoptado)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 style="color: slategrey">Galeria de Fotos</h3>
    <div class="table-responsive-vertical medio shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>Nome do Ficheiro</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fileName in Model.FicheirosGaleria)
                {
                    string caminhoTotal = Model.CaminhoGaleria + @fileName;
                    <tr>
                        <td data-title="Nome do Ficheiro">
                            <a href=@caminhoTotal>@Html.Raw(fileName)</a>
                        </td>
                        <td>
                            <a><i class="fa fa-times red_icon" title="Remover Ficheiro"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h3 style="color: slategrey">Anexos</h3>
    <div class="table-responsive-vertical medio shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>Nome do Ficheiro</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fileName in Model.FicheirosAnexos)
                {
                    string caminhoTotal = Model.CaminhoAnexos + @fileName;
                    <tr>
                        <td data-title="Nome do Ficheiro">
                            <a href=@caminhoTotal>@Html.Raw(fileName)</a>
                        </td>
                        <td>
                            <a><i class="fa fa-times red_icon" title="Remover Ficheiro"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <h3 style="color: slategrey">Adotantes</h3>
    <div class="table-responsive-vertical pequeno shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>Nome do Adotante</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var adotante in Model.Animal.Adotantes)
                {
                    <tr>
                        <td data-title="Nome do Ficheiro">
                            @Html.Raw(adotante.Perfil.FirstName + " " + adotante.Perfil.LastName)
                        </td>
                        <td>
                            <a><i class="fa fa-times red_icon" title="Remover Adotante"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<script>
    $(document).ready(function () {

        var table = $('#table');

        // Table bordered
        $('#table-bordered').change(function () {
            var value = $(this).val();
            table.removeClass('table-bordered').addClass(value);
        });

        // Table striped
        $('#table-striped').change(function () {
            var value = $(this).val();
            table.removeClass('table-striped').addClass(value);
        });

        // Table hover
        $('#table-hover').change(function () {
            var value = $(this).val();
            table.removeClass('table-hover').addClass(value);
        });

        // Table color
        $('#table-color').change(function () {
            var value = $(this).val();
            table.removeClass(/^table-mc-/).addClass(value);
        });
    });

    // jQuery’s hasClass and removeClass on steroids
    // by Nikita Vasilyev
    // https://github.com/NV/jquery-regexp-classes
    (function (removeClass) {

        jQuery.fn.removeClass = function (value) {
            if (value && typeof value.test === "function") {
                for (var i = 0, l = this.length; i < l; i++) {
                    var elem = this[i];
                    if (elem.nodeType === 1 && elem.className) {
                        var classNames = elem.className.split(/\s+/);

                        for (var n = classNames.length; n--;) {
                            if (value.test(classNames[n])) {
                                classNames.splice(n, 1);
                            }
                        }
                        elem.className = jQuery.trim(classNames.join(" "));
                    }
                }
            } else {
                removeClass.call(this, value);
            }
            return this;
        }

    })(jQuery.fn.removeClass);
</script>