@using Microsoft.AspNetCore.Identity;
@using Afilhado4Patas.Data;

@model IEnumerable<Afilhado4Patas.Models.ViewModels.TarefaViewModel>

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<h2>Lista de tarefas</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completada)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completada)
                </td>
                <td>
                    <a asp-controller="Funcionario" asp-action="Tarefa" asp-route-id="@item.Id">Ver</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Funcionario" asp-action="Perfil" asp-route-id="@UserManager.GetUserName(User)">Voltar ao Perfil</a>
</div>