@using Microsoft.AspNetCore.Identity;
@using Afilhado4Patas.Data;

@model Afilhado4Patas.Models.PedidoAdocao

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/fullcalendar/fullcalendar-custom-fichaAnimal.css" />
<link href="~/fullcalendar/fullcalendar.print.min.css" rel="stylesheet" media="print" />
<link href="~/css/Table/tabela.css" rel="stylesheet" />
<div id="rectangulo_maior"></div>
<div id="page" class="page_maior">
    <div style="height: 120px">
        <div style="float: left">
            @{
                if (Model.Adotante.Perfil.Photo != null)
                {
                    string src = "/Utilizadores/" + Model.Adotante.Id + "/" + Model.Adotante.Perfil.Photo;
                    <img id="imagem_animal" src="@src" />
                }
                else
                {
                    <img id="imagem_animal" src="~/images/default.jpg" />
                }
            }
        </div>
        <div style="float:left; margin-left: 20px">
            <div style="margin-bottom: 5px">
                <a id="links_animal" title="Ver Adotante" asp-controller="Funcionario" asp-action="VisualizarUtilizador" asp-route-id=@Model.Adotante.Id>
                    <i class="fa fa-user grey_icon" title="Remover Ficheiro"></i>
                    @Model.Adotante.Perfil.FirstName @Model.Adotante.Perfil.LastName
                </a>
            </div>
            <div style="margin-bottom: 5px">
                <p style="color: #fff">Motivo: @Model.Motivo</p>
            </div>
            <div style="margin-bottom: 5px">
                <p style="color: #fff">Outros Animais: @Model.OutrosAnimais</p>
            </div>
        </div>
        <div style="float:right; margin-right: 10%">
            <div>
                <a id="links_aprovacao" title="Aceitar Pedido" asp-controller="Funcionario" asp-action="AceitarPedidoAdocao" asp-route-id=@Model.Id>
                    <img id="aprovar" src="~/images/aceitar.png" />
                </a>
                <a id="links_aprovacao" title="Rejeitar Pedido" asp-controller="Funcionario" asp-action="RejeitarPedidoAdocao" asp-route-id=@Model.Id>
                    <img id="aprovar" src="~/images/rejeitar.png" />
                </a>
            </div>
        </div>
    </div>
    <h3 style="color: #fff">Pedido de Adocao</h3>
    <br />
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Animal.NomeAnimal)</th>
                    <th>@Html.DisplayNameFor(model => model.Morada)</th>
                    <th>@Html.DisplayNameFor(model => model.TipoAdocao)</th>
                    <th>@Html.DisplayNameFor(model => model.DataPedido)</th>
                    <th>@Html.DisplayNameFor(model => model.Aprovacao)</th>
                    <th>@Html.DisplayNameFor(model => model.DataAprovacao)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Nome Animal">
                        @if (Model.Animal.Foto != null)
                        {
                            string src = "/Animais/" + Model.Animal.Id + "/" + Model.Animal.Foto;
                            <img id="icon_mini" src="@src" />
                        }
                        else
                        {
                            <img id="icon_mini" src="~/images/dog-profile.png" />
                        }
                        <a class="link" title="Ver Animal" asp-controller="Funcionario" asp-action="DetalhesAnimal" asp-route-id=@Model.Animal.Id>@Html.DisplayFor(model => model.Animal.NomeAnimal)</a>
                    </td>
                    <td data-title="Morada">
                        @Html.DisplayFor(model => model.Morada)
                    </td>
                    <td data-title="Tipo de Adocao">
                        @Html.DisplayFor(model => model.TipoAdocao)
                    </td>
                    <td data-title="Data do Pedido">
                        @Model.DataPedido.ToString("dd/MM/yyyy")
                    </td>
                    <td data-title="Aprovacao">
                        @Html.DisplayFor(model => model.Aprovacao)
                    </td>
                    <td data-title="Data Aprovacao">
                        @if ((Model.DataAprovacao.ToString("dd/MM/yyyy").Equals("01/01/0001")))
                        {
                            @Html.Raw("Sem data");
                        }
                        else
                        {
                            @Html.Raw(Model.DataAprovacao.ToString("dd/MM/yyyy"));
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3 style="color: slategrey">Ficheiro de Identificação</h3>
    <div class="table-responsive-vertical pequeno shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>Nome do Ficheiro</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-title="Nome do Ficheiro">
                        @{
                            string caminho = @Model.DiretoriaPedido + "\\" + @Model.NomeFicheiroID;
                            <a href=@caminho>@Model.NomeFicheiroID</a>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="centrado_tabela">
    <h3 id="centrado_tabela">Atividades</h3>
    <div id="calendar"></div>
</div>


<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev',
                center: 'title',
                right: 'next'
            },
            //defaultDate: '2019-01-12',
            defaultView: 'month',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            contentHeight: 450,
            apectRatio: 1,
            //themeSystem: 'standard',
            themeSystem: 'bootstrap4',
            locale: 'pt',
            events: "/Responsavel/EventosCalendario"
            /*events: $(function (start, end, timezone, callback)
            {
            $.ajax({
                dataType: "json",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/Responsavel/EventosCalendario",
                success: function (data) {
                    var events = [];
                    $(data).each(function(i) {
                        events.push({
                            title: $(this).attr('title'),
                            start: $(this).attr('start'),
                            end: $(this).attr('end')
                        })
                    })
                    callback(events);
                }
        })
        })*/
        });

    });
</script>

<script>
    $(document).ready(function () {

        var table = $('#table');

        // Table bordered
        $('#table-bordered').change(function () {
            var value = $(this).val();
            table.removeClass('table-bordered').addClass(value);
        });

        // Table striped
        $('#table-striped').change(function () {
            var value = $(this).val();
            table.removeClass('table-striped').addClass(value);
        });

        // Table hover
        $('#table-hover').change(function () {
            var value = $(this).val();
            table.removeClass('table-hover').addClass(value);
        });

        // Table color
        $('#table-color').change(function () {
            var value = $(this).val();
            table.removeClass(/^table-mc-/).addClass(value);
        });
    });

    // jQuery’s hasClass and removeClass on steroids
    // by Nikita Vasilyev
    // https://github.com/NV/jquery-regexp-classes
    (function (removeClass) {

        jQuery.fn.removeClass = function (value) {
            if (value && typeof value.test === "function") {
                for (var i = 0, l = this.length; i < l; i++) {
                    var elem = this[i];
                    if (elem.nodeType === 1 && elem.className) {
                        var classNames = elem.className.split(/\s+/);

                        for (var n = classNames.length; n--;) {
                            if (value.test(classNames[n])) {
                                classNames.splice(n, 1);
                            }
                        }
                        elem.className = jQuery.trim(classNames.join(" "));
                    }
                }
            } else {
                removeClass.call(this, value);
            }
            return this;
        }

    })(jQuery.fn.removeClass);
</script>
