@using Microsoft.AspNetCore.Identity;
@using Afilhado4Patas.Data;

@model IEnumerable<Afilhado4Patas.Models.PedidoAdocao>

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Table/tabela.css" rel="stylesheet" />
<div id="rectangulo"></div>
<div id="page">
    <h3 style="color: #fff">Pedidos de Adoções</h3>
    <br />
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Animal.NomeAnimal)</th>
                    <th>@Html.DisplayNameFor(model => model.TipoAdocao)</th>
                    <th>@Html.DisplayNameFor(model => model.DataPedido)</th>
                    <th>@Html.DisplayNameFor(model => model.Aprovacao)</th>
                    <th>@Html.DisplayNameFor(model => model.DataAprovacao)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td data-title="Nome Animal">
                        @if (item.Animal.Foto != null)
                        {
                            string src = "/Animais/" + item.Animal.Id + "/" + item.Animal.Foto;
                            <img id="icon_mini" src="@src" />
                        }
                        else
                        {
                            <img id="icon_mini" src="~/images/dog-profile.png" />
                        }
                        @Html.DisplayFor(modelItem => item.Animal.NomeAnimal)
                    </td>
                    <td data-title="Tipo de Adocao">
                        @Html.DisplayFor(modelItem => item.TipoAdocao)
                    </td>
                    <td data-title="Data do Pedido">
                        @item.DataPedido.ToString("dd/MM/yyyy")
                    </td>
                    <td data-title="Aprovacao">
                        @Html.DisplayFor(modelItem => item.Aprovacao)
                    </td>
                    <td data-title="Data Aprovacao">
                        @if ((item.DataAprovacao.ToString("dd/MM/yyyy").Equals("01/01/0001")))
                        {
                            @Html.Raw("Sem data");
                        }
                        else
                        {
                            @Html.Raw(item.DataAprovacao.ToString("dd/MM/yyyy"));
                        }
                    </td>
                    <td>
                        <a><i class="fa fa-search-plus blue_icon" title="Ver Pedido"></i></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        var table = $('#table');

        // Table bordered
        $('#table-bordered').change(function () {
            var value = $(this).val();
            table.removeClass('table-bordered').addClass(value);
        });

        // Table striped
        $('#table-striped').change(function () {
            var value = $(this).val();
            table.removeClass('table-striped').addClass(value);
        });

        // Table hover
        $('#table-hover').change(function () {
            var value = $(this).val();
            table.removeClass('table-hover').addClass(value);
        });

        // Table color
        $('#table-color').change(function () {
            var value = $(this).val();
            table.removeClass(/^table-mc-/).addClass(value);
        });
    });

    // jQuery’s hasClass and removeClass on steroids
    // by Nikita Vasilyev
    // https://github.com/NV/jquery-regexp-classes
    (function (removeClass) {

        jQuery.fn.removeClass = function (value) {
            if (value && typeof value.test === "function") {
                for (var i = 0, l = this.length; i < l; i++) {
                    var elem = this[i];
                    if (elem.nodeType === 1 && elem.className) {
                        var classNames = elem.className.split(/\s+/);

                        for (var n = classNames.length; n--;) {
                            if (value.test(classNames[n])) {
                                classNames.splice(n, 1);
                            }
                        }
                        elem.className = jQuery.trim(classNames.join(" "));
                    }
                }
            } else {
                removeClass.call(this, value);
            }
            return this;
        }

    })(jQuery.fn.removeClass);
</script>