@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@model Afilhado4Patas.Data.Utilizadores

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="perfil">
    <div>
        <span> Perfil de @Html.DisplayFor(model => model.Perfil.FirstName) @Html.DisplayFor(model => model.Perfil.LastName)</span>
    </div>
    <div id="perfil_container1">
        @{Utilizadores user = Context.Utilizadores.Where(u => u.Email == UserManager.GetUserName(User)).FirstOrDefault();
            Perfil perfil = Context.PerfilTable.Where(p => p.Id == user.PerfilId).FirstOrDefault();
            if (perfil.Photo != null)
            {
                string src = "/Utilizadores/" + user.Id + "/" + perfil.Photo;
                <img id="imagem_perfil" src="@src" />
            }
            else
            {
                <img id="imagem_perfil" src="~/images/default.jpg" />
            }
        }
        <div id="edit_options">
            <a asp-controller="Funcionario" asp-action="PerfilEditarDadosPessoais" asp-route-id="@UserManager.GetUserName(User)">
                <img id="icon" src="~/images/edit.png" />
                <span id="options_spans">Editar Dados Pessoais</span>
            </a>
        </div>
        <div id="edit_options">
            <a asp-controller="Funcionario" asp-action="PerfilEditarMorada" asp-route-id="@UserManager.GetUserName(User)">
                <img id="icon" src="~/images/map.png" />
                <span id="options_spans">Editar Morada</span>
            </a>
        </div>
        <div id="edit_options">
            <a asp-controller="Funcionario" asp-action="PerfilEditarPalavraPasse" asp-route-id="@UserManager.GetUserName(User)">
                <img id="icon" src="~/images/password.png" />
                <span id="options_spans">Alterar Palavra-Passe</span>
            </a>
        </div>
        <div id="edit_options">
            <a asp-controller="Funcionario" asp-action="PerfilEditarFotoPerfil" asp-route-id="@UserManager.GetUserName(User)">
                <img id="icon" src="~/images/picture.png" />
                <span id="options_spans">Alterar Foto de Perfil</span>
            </a>
        </div>
        <div id="edit_options">
            <a asp-controller="Funcionario" asp-action="MinhasTarefas" asp-route-id="@UserManager.GetUserName(User)">
                <img id="icon" src="~/images/tasks.png" />
                <span id="options_spans">Minhas Tarefas</span>
            </a>
        </div>
    </div>
    <div id="perfil_container2">
        <table id="user_info_table">
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Perfil.FirstName)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Perfil.FirstName)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Perfil.LastName)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Perfil.LastName)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Email)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Perfil.Genre)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Perfil.Genre)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Perfil.Birthday)</td>
                <td id="info_conteudo">@Model.Perfil.Birthday.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Perfil.City)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Perfil.City)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Perfil.Street)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Perfil.Street)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Perfil.Postalcode)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Perfil.Postalcode)</td>
            </tr>
        </table>
    </div>
</div>


