@using Microsoft.AspNetCore.Identity;
@using Afilhado4Patas.Data;

@model Afilhado4Patas.Models.ViewModels.TarefaViewModel

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tarefa</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Utilizador.Perfil.FirstName) @Html.DisplayFor(model => model.Utilizador.Perfil.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Completada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Completada)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Funcionario" asp-action="Perfil" asp-route-id="@UserManager.GetUserName(User)">Voltar ao Perfil</a>
</div>

