@using Afilhado4Patas.Data;
@model Afilhado4Patas.Models.ViewModels.EditarAnimalViewModel;
@inject ApplicationDbContext _context;
    ViewData["Title"] = "RegistoAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        var items;
        @if(Model.RacaId is null) {
            <text>items = "<option value='0'>Escolha uma categoria</option>";</text>
        } else {
            <text>items = "<option value='@(Model.RacaId)'>@(_context.Racas.Where(raca => raca.Id == Model.RacaId).FirstOrDefault().NomeRaca)</option>";</text>
        }
        $('#RacaId').html(items);
        $('#CategoriaID').change(function () {
            var url = '@Url.Content("~/")' + "Responsavel/RacasPorCategoria";
            var id = '#CategoriaID';
            $.getJSON(url, { CategoriaID: $(id).val() }, function (data) {
                var items = '';
                $('#RacaId').empty();
                $.each(data, function (i, raca) {
                    items += "<option value='" + raca.value + "'>" + raca.text + "</option>";
                });
                $('#RacaId').html(items);
            });
        });
    });
</script>

<div id="page">
    <div id="box">
        <img id="icon_centrado" src="~/images/edit.png" />
        <h2>Editar Animal</h2>
        <hr />
        <form asp-controller="Responsavel" asp-action="EditarAnimal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeAnimal" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira o nome do Animal apenas contendo letras"></span>
                <input asp-for="NomeAnimal" class="form-control" />
                <span asp-validation-for="NomeAnimal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o sexo do Animal"></span>
                <div>
                    Macho
                    <input asp-for="Sexo" type="radio" value="Macho" />
                    Femea
                    <input asp-for="Sexo" type="radio" value="Femea" />
                </div>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNasc"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Inserir data de nascimento no formato DD-MM-AAAA
Deverá ainda ter uma idade maior ou igual 0 anos e inferior a 30 anos."></span>
                <div class="input-group date" id="datepicker_animal">
                    <input asp-for="DataNasc" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PorteId" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione o porte do animal"></span>
                <select id="PorteID" name="PorteID" asp-for="PorteId" class="form-control" asp-items="@Model.Portes">
                    <option>Selecione um porte</option>
                </select>
                <span asp-validation-for="PorteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira uma descrição do animal apenas contendo letras"></span>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Insira o peso do animal em Kg,
O peso deverá ser superior a 0 Kg e menor que 200 Kg"></span>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione a categoria do Animal"></span>
                <select id="CategoriaID" name="CategoriaID" asp-for="CategoriaId" class="form-control" asp-items="@Model.Categorias">
                    <option>Selecione uma categoria</option>
                </select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RacaId" class="control-label"></label>
                <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                      title="Selecione a raça do Animal"></span>
                <select id="RacaId" name="RacaId" asp-for="RacaId" class="form-control"
                        asp-items="@(new SelectList("","RacaId","NomeRaca"))"></select>
                <span asp-validation-for="RacaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div id="edit_options">
    <a asp-controller="Responsavel" asp-action="ListaAnimais">
        <img id="icon" src="~/images/voltar.png" />
        <span id="options_spans">Voltar</span>
    </a>
</div>

<script>
    var nowDate = new Date();
    var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
    var tomorrow = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate() + 1, 0, 0, 0, 0);
    $(document).ready(function () {
        $('#datepicker_animal').datepicker({
            format: "dd/mm/yyyy",
            startDate: new Date(1990, 1, 1),
            endDate: '+1d',
            datesDisabled: '+1d',
            autoclose: true,
            todayHighlight: true,
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            orientation: "button"
        });
    });
</script>
