@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@model Afilhado4Patas.Models.Animal

@inject ApplicationDbContext Context
@{
    ViewData["Title"] = "Ficha de Animal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="perfil">
    <div>
        <span> Ficha de animal : @Html.DisplayFor(model => model.NomeAnimal)</span>
    </div>
    <div id="perfil_container1">
        @{Animal animal = Context.Animais.Where(u => u.Id == Model.Id).FirstOrDefault();
            if (animal.Foto != null)
            {
                string src = "/Animais/" + animal.Id + "/" + animal.Foto;
                <img id="imagem_perfil" src="@src" />
            }
            else
            {
                <img id="imagem_perfil" src="~/images/dog-profile.png" />
            }
        }
        <table id="user_info_table">
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.NomeAnimal)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.NomeAnimal)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.RacaAnimal.CategoriaId)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.RacaAnimal.CategoriaRaca.Nome)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Descricao)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Descricao)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.PorteId)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.PorteAnimal.TipoPorte)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Peso)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Peso) Kg</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.Sexo)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.Sexo)</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.DataNasc)</td>
                <td id="info_conteudo">@Model.DataNasc.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr id="info_tr">
                <td id="info_nome">@Html.DisplayNameFor(model => model.RacaId)</td>
                <td id="info_conteudo">@Html.DisplayFor(model => model.RacaAnimal.NomeRaca)</td>
            </tr>
        </table>
        <div id="edit_options">
            <a asp-controller="Responsavel" asp-action="Animais">
                <img id="icon" src="~/images/voltar.png" />
                <span id="options_spans">Voltar</span>
            </a>
        </div>
    </div>
</div>
