@model IEnumerable<Afilhado4Patas.Models.Animal>

@{
    ViewData["Title"] = "ListaAnimais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaAnimais</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adoptado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RacaAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAnimal)
                </td>
                <td>
                    @item.DataNasc.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PorteAnimal.TipoPorte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adoptado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RacaAnimal.NomeRaca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a asp-controller="Responsavel" asp-action="EditarAnimal" asp-route-id=@item.Id>Editar animal</a><span>|</span>
                    <a asp-controller="Responsavel" asp-action="DetalhesAnimal" asp-route-id=@item.Id>Detalhes animal</a><span>|</span>
                    <a asp-controller="Responsavel" asp-action="AtivarAnimal" asp-route-id=@item.Id>Ativar animal</a>
                    <a asp-controller="Responsavel" asp-action="ApagarAnimal" asp-route-id=@item.Id>Apagar animal</a>
                </td>
            </tr>
        }
    </tbody>
</table>
