@model IEnumerable<Afilhado4Patas.Models.Tarefa>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<h2>Lista de tarefas</h2>

<p>
    <a>Tarefas a Realizar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!--<th>
        Selecionar
    </th>-->
            <th>
                Funcionario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fim)
            </th>

        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <!--<td>
        <input type="checkbox" value="@item.Id" name="funcionario">
    </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Perfil.FirstName) @Html.DisplayFor(modelItem => item.Utilizador.Perfil.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fim)
            </td>
            <td>
                <a asp-action="EditarTarefa" asp-route-id="@item.Id">Editar</a> |
                <a asp-controller="Funcionario" asp-action="Tarefa" asp-route-id="@item.Id">Ver</a> |
                <a asp-action="ApagarTarefa" asp-route-id="@item.Id">Apagar</a>
            </td>
        </tr>
    }
    </tbody>
</table>