@using Microsoft.AspNetCore.Identity;
@using Afilhado4Patas.Data;

@model IEnumerable<Afilhado4Patas.Models.PedidoFimSemana>

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Table/tabela.css" rel="stylesheet" />
<div id="rectangulo"></div>
<div id="page">
    <h3 style="color: #fff">Pedidos de Fins de Semanas</h3>
    <br />
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Animal.NomeAnimal)</th>
                    <th>@Html.DisplayNameFor(model => model.Adotante)</th>
                    <th>@Html.DisplayNameFor(model => model.DataInicio)</th>
                    <th>@Html.DisplayNameFor(model => model.DataFim)</th>
                    <th>@Html.DisplayNameFor(model => model.DataPedido)</th>
                    <th>@Html.DisplayNameFor(model => model.Aprovacao)</th>
                    <th>@Html.DisplayNameFor(model => model.DataAprovacao)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td data-title="Nome Animal">
                            @if (item.Animal.Foto != null)
                            {
                                string src = "/Animais/" + item.Animal.Id + "/" + item.Animal.Foto;
                                <img id="icon_mini" src="@src" />
                            }
                            else
                            {
                                <img id="icon_mini" src="~/images/dog-profile.png" />
                            }
                            <a class="link" title="Ver Animal" asp-controller="Responsavel" asp-action="DetalhesAnimal" asp-route-id=@item.Animal.Id>@Html.DisplayFor(modelItem => item.Animal.NomeAnimal)</a>
                        </td>
                        <td data-title="Adotante">
                            @if (item.Adotante.Perfil.Photo != null)
                            {
                                string src = "/Utilizadores/" + item.Adotante.Id + "/" + item.Adotante.Perfil.Photo;
                                <img id="icon_mini" src="@src" />
                            }
                            else
                            {
                                <img id="icon_mini" src="~/images/default.jpg" />
                            }
                            <a class="link" title="Ver Adotante" asp-controller="Responsavel" asp-action="VisualizarUtilizador" asp-route-id=@item.Adotante.Id>@Html.DisplayFor(modelItem => item.Adotante.Perfil.FirstName)</a>
                        </td>
                        <td data-title="Data de Inicio">
                            @item.DataInicio.ToString("dd/MM/yyyy")
                        </td>
                        <td data-title="Data de Fim">
                            @item.DataFim.ToString("dd/MM/yyyy")
                        </td>
                        <td data-title="Data do Pedido">
                            @item.DataPedido.ToString("dd/MM/yyyy")
                        </td>
                        <td data-title="Aprovacao">
                            @Html.DisplayFor(modelItem => item.Aprovacao)
                        </td>
                        <td data-title="Data Aprovacao">
                            @if ((item.DataAprovacao.ToString("dd/MM/yyyy").Equals("01/01/0001")))
                            {
                                @Html.Raw("Sem data");
                            }
                            else
                            {
                                @Html.Raw(item.DataAprovacao.ToString("dd/MM/yyyy"));
                            }
                        </td>
                        <td>
                            <a asp-controller="Responsavel" asp-action="PedidosFimSemanaAnalisar" asp-route-id=@item.Id>
                                <i class="fa fa-search blue_icon" title="Ver Pedido"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        var table = $('#table');

        // Table bordered
        $('#table-bordered').change(function () {
            var value = $(this).val();
            table.removeClass('table-bordered').addClass(value);
        });

        // Table striped
        $('#table-striped').change(function () {
            var value = $(this).val();
            table.removeClass('table-striped').addClass(value);
        });

        // Table hover
        $('#table-hover').change(function () {
            var value = $(this).val();
            table.removeClass('table-hover').addClass(value);
        });

        // Table color
        $('#table-color').change(function () {
            var value = $(this).val();
            table.removeClass(/^table-mc-/).addClass(value);
        });
    });

    // jQuery’s hasClass and removeClass on steroids
    // by Nikita Vasilyev
    // https://github.com/NV/jquery-regexp-classes
    (function (removeClass) {

        jQuery.fn.removeClass = function (value) {
            if (value && typeof value.test === "function") {
                for (var i = 0, l = this.length; i < l; i++) {
                    var elem = this[i];
                    if (elem.nodeType === 1 && elem.className) {
                        var classNames = elem.className.split(/\s+/);

                        for (var n = classNames.length; n--;) {
                            if (value.test(classNames[n])) {
                                classNames.splice(n, 1);
                            }
                        }
                        elem.className = jQuery.trim(classNames.join(" "));
                    }
                }
            } else {
                removeClass.call(this, value);
            }
            return this;
        }

    })(jQuery.fn.removeClass);
</script>