
@{
    ViewData["Title"] = "Dashboard";
}

@using Microsoft.AspNetCore.Identity
@using Afilhado4Patas.Data;

@model Afilhado4Patas.Data.Utilizadores

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@inject ApplicationDbContext Context

<script type="text/javascript" src='~/fullcalendar/lib/jquery.min.js'></script>
<script type="text/javascript" src='~/fullcalendar/lib/moment.min.js'></script>
<script type="text/javascript" src='~/fullcalendar/lib/jquery-ui.custom.min.js'></script>
<script type="text/javascript" src='~/fullcalendar/fullcalendar.js'></script>
<script type="text/javascript" src='~/fullcalendar/locale-all.js'></script>
<link rel="stylesheet" href="~/fullcalendar/fullcalendar-custom-dashboard.css" />
<link href="~/fullcalendar/fullcalendar.print.min.css" rel="stylesheet" media="print" />
<link href="~/css/DashboardUser/dashboardUser.css" rel="stylesheet" />
<link href="~/css/Friends/friendsList.css" rel="stylesheet" />
<link href="~/css/Table/tabela.css" rel="stylesheet" />
<div id="dashboardUser">
    <div id="vertical_1">
        <div class="box_foto">
            @{Utilizadores user = Context.Utilizadores.Where(u => u.Email == UserManager.GetUserName(User)).FirstOrDefault();
                Perfil perfil = Context.PerfilTable.Where(p => p.Id == user.PerfilId).FirstOrDefault();
                if (perfil.Photo != null)
                {
                    string src = "/Utilizadores/" + user.Id + "/" + perfil.Photo;
                    <img id="imagem_perfil" src="@src" />
                }
                else
                {
                    <img id="imagem_perfil" src="~/images/default.jpg" />
                }
            }
        </div>
        <div class="edit_perfil primeiro">
            <a id="botoes" asp-controller="Utilizador" asp-action="PerfilEditarDadosPessoais" asp-route-id="@UserManager.GetUserName(User)" title="Editar Dados Pessoais">
                <i class="fa fa-user-edit icon"></i>
            </a>
        </div>
        <div class="edit_perfil segundo">
            <a id="botoes" asp-controller="Utilizador" asp-action="PerfilEditarPalavraPasse" asp-route-id="@UserManager.GetUserName(User)" title="Alterar Palavra-Passe">
                <i class="fa fa-key icon"></i>
            </a>
        </div>
        <div class="edit_perfil terceiro">
            <a id="botoes" asp-controller="Utilizador" asp-action="PerfilEditarMorada" asp-route-id="@UserManager.GetUserName(User)" title="Editar Morada">
                <i class="fa fa-map-marked-alt icon"></i>
            </a>
        </div>
        <div class="edit_perfil quarto">
            <a id="botoes" asp-controller="Utilizador" asp-action="PerfilEditarFotoPerfil" asp-route-id="@UserManager.GetUserName(User)" title="Editar Foto de Perfil">
                <i class="fa fa-user-circle icon"></i>
            </a>
        </div>
    </div>
    <div id="vertical_2">
        <div id="informacoes">
            <div id="superior">
                Dados Pessoais
            </div>
            <div id="info_first">
                <div id="spacing">
                    <i class="fa fa-user cinzento"></i>
                    <span id="info">@Model.Perfil.FirstName @Model.Perfil.LastName</span>
                </div>
                <div id="spacing">
                    <i class="fa fa-calendar-alt cinzento"></i>
                    <span id="info">@Model.Perfil.Birthday.ToString("dd/MM/yyyy")</span>
                </div>
                <div id="spacing">
                    <i class="fa fa-male cinzento"></i>
                    <span id="info">@Model.Perfil.Genre</span>
                </div>
            </div>
            <div id="info_second">
                <div id="spacing">
                    <i class="fa fa-envelope cinzento"></i>
                    <span id="info">@Model.Email</span>
                </div>
                <div id="spacing">
                    <i class="fa fa-map-marker-alt cinzento"></i>
                    <span id="info">@Model.Perfil.City</span>
                </div>
            </div>
        </div>
        <div id="animais">
            <div id="superior">
                Os meus Animais
            </div>
            @{
                Utilizadores utilizador = Context.Utilizadores.Where(u => u.Id == Model.Id).FirstOrDefault();
                List<Adotante> adotantes = Context.Adotantes.Where(a => a.AdotanteId == utilizador.PerfilId).ToList();
                List<Animal> lista_animais = new List<Animal>();
                foreach (var adotante in adotantes)
                {
                    Animal animal = Context.Animais.Where(a => a.Id == adotante.AnimalId).FirstOrDefault();
                    animal.PorteAnimal = Context.Portes.Where(p => p.Id == animal.PorteId).FirstOrDefault();
                    lista_animais.Add(animal);
                }
                @Html.Partial("GridMeusAnimais", lista_animais)
            }
        </div>
    </div>
    <div id="vertical_3">
        <div id="calendario">
            <div id="superior">
                Atividades
            </div>
            <div id="calendar"></div>
        </div>
        <div class="jumbotron list-content">
            <ul class="list-group">
                <li class="list-group-item title">
                    Lista de Amigos
                </li>
                @{
                    List<Amizades> amizades = Context.Amizades.Where(a => (a.IdPerfilPediu == Model.PerfilId || a.IdPerfilAceitar == Model.PerfilId) && a.Amigos == true).ToList();
                    List<Utilizadores> utilizadores = new List<Utilizadores>();
                    Utilizadores utilizadorAdd = null;
                    foreach (var amizade in amizades)
                    {
                        int amigoID = 0;
                        if (amizade.IdPerfilPediu == Model.PerfilId)
                        {
                            amigoID = amizade.IdPerfilAceitar;
                        }
                        else
                        {
                            amigoID = amizade.IdPerfilPediu;
                        }
                        utilizadorAdd = Context.Utilizadores.Where(u => u.PerfilId == amigoID).FirstOrDefault();
                        utilizadorAdd.Perfil = Context.PerfilTable.Where(p => p.Id == utilizadorAdd.PerfilId).FirstOrDefault();
                        utilizadores.Add(utilizadorAdd);
                    }
                    @Html.Partial("ListaAmigos", utilizadores)
                }
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#calendar').fullCalendar({
            header: {
                left: 'prev',
                center: 'title',
                right: 'next'
            },
            //defaultDate: '2019-01-12',
            defaultView: 'agendaWeek',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            contentHeight: 300,
            apectRatio: 1,
            //themeSystem: 'standard',
            themeSystem: 'bootstrap4',
            locale: 'pt',
            events: "/Utilizador/EventosCalendarioUtilizador"
            /*events: $(function (start, end, timezone, callback)
            {
            $.ajax({
                dataType: "json",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                url: "/Responsavel/EventosCalendario",
                success: function (data) {
                    var events = [];
                    $(data).each(function(i) {
                        events.push({
                            title: $(this).attr('title'),
                            start: $(this).attr('start'),
                            end: $(this).attr('end')
                        })
                    })
                    callback(events);
                }
        })
        })*/
        });

    });
</script>

