@using Microsoft.AspNetCore.Identity;
@using Afilhado4Patas.Data;

@model IEnumerable<Afilhado4Patas.Models.PedidoPasseio>

@inject SignInManager<Utilizadores> SignInManager
@inject UserManager<Utilizadores> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/Table/tabela.css" rel="stylesheet" />
<div id="page">
    <h2>As minhas Marcacoes/Passeios</h2>
    <br />
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">@Html.DisplayNameFor(model => model.Animal.NomeAnimal)</div>
            <div class="col col-2">@Html.DisplayNameFor(model => model.DataPasseio)</div>
            <div class="col col-3">@Html.DisplayNameFor(model => model.HoraPasseio)</div>
            <div class="col col-4">@Html.DisplayNameFor(model => model.DataPedido)</div>
            <div class="col col-4">@Html.DisplayNameFor(model => model.Aprovacao)</div>
            <div class="col col-4">@Html.DisplayNameFor(model => model.DataAprovacao)</div>
        </li>
        @foreach (var item in Model)
        {
            <li class="table-row">
                <div class="col col-4">
                    @if (item.Animal.Foto != null)
                    {
                        string src = "/Animais/" + item.Animal.Id + "/" + item.Animal.Foto;
                        <img id="icon_mini" src="@src" />
                    }
                    else
                    {
                        <img id="icon_mini" src="~/images/dog-profile.png" />
                    }
                    @Html.DisplayFor(modelItem => item.Animal.NomeAnimal)
                </div>
                <div class="col col-4">
                    @item.DataPasseio.ToString("dd/MM/yyyy")
                </div>
                <div class="col col-4">
                    @Html.DisplayFor(modelItem => item.HoraPasseio)
                </div>
                <div class="col col-4">
                    @item.DataPedido.ToString("dd/MM/yyyy")
                </div>
                <div class="col col-4">
                    @Html.DisplayFor(modelItem => item.Aprovacao)
                </div>
                <div class="col col-4">
                    @if (!(item.DataAprovacao.ToString("dd/MM/yyyy").Equals("01/01/0001")))
                    {
                        item.DataAprovacao.ToString("dd/MM/yyyy");
                    }
                    else
                    {
                        @Html.Raw("Sem data");
                    }
                </div>
            </li>
        }
    </ul>
</div>

