@using Afilhado4Patas.Data;
@model Afilhado4Patas.Models.ViewModels.PedidoAdocaoViewModel;

@inject ApplicationDbContext Context

<link href="~/css/FileInput/fileInput.css" rel="stylesheet" />
<link href="~/css/FormularioCSS/formularios.css" rel="stylesheet" />

<div id="registo_page">
    <form id="adocao" asp-controller="Utilizador" asp-action="PedidoAdocaoEspecifico" enctype="multipart/form-data">
        <h1>Pedido de Adoção <img id="icon_miniatura" src="~/images/adocao.png" /></h1>
        <div class="contentform">
            <div class="adocao_esquerda">
                <div class="form-group">
                    <div>
                        <label asp-for="TipoAdocao" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o tipo de adoção que pretende
Adoção Total: Adote um animal a tempo inteiro e leve-o para casa
Apadrinhamento: Adote um animal a tempo parcial, podendo levá-lo durante fins-de-semanas e também para passeios"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-filter"></i></span>
                    <select id="TipoAdocao" name="TipoAdocao" onchange="AlteracaoAdocao(this.value)" asp-for="TipoAdocao">
                        <option value="undefined" selected>Escolha um tipo de adoção</option>
                        <option value="Total">Adoção Total</option>
                        <option value="Parcial">Adoção Parcial</option>
                    </select>
                    <span asp-validation-for="TipoAdocao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="NomeAdotante"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Nome do Adotante"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-user"></i></span>
                    <input type="text" asp-for="NomeAdotante" disabled />
                    <span asp-validation-for="NomeAdotante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Morada" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o tipo de habitação onde vive"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-home"></i></span>
                    <select asp-for="Morada">
                        <option value="Apartamento">Apartamento</option>
                        <option value="Moradia">Moradia</option>
                        <option value="Quinta/Herdade">Quinta/Herdade</option>
                        <option value="Outro">Outro</option>
                    </select>
                    <span asp-validation-for="Morada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Motivacao" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira a baixo a motivação porque quer adotar um animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-font"></i></span>
                    <textarea rows="3" asp-for="Motivacao" class="form-control"></textarea>
                    <span asp-validation-for="Motivacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="OutrosAnimais" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Caso existam outros animais em casa mencione a baixo"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-font"></i></span>
                    <textarea rows="3" asp-for="OutrosAnimais" class="form-control"></textarea>
                    <span asp-validation-for="OutrosAnimais" class="text-danger"></span>
                </div>
            </div>

            <div class="adocao_centro">
                <div class="form-group">
                    <div>
                        <label asp-for="Email" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira um email para contacto com o seguinte formato ex: exemplo@exemplo.com"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-envelope"></i></span>
                    <input asp-for="Email" type="text" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="EmailSecundario" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira um email secundario por meio de segurança"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-envelope"></i></span>
                    <input asp-for="EmailSecundario" />
                    <span asp-validation-for="EmailSecundario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Telefone" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira um telemovel para contacto com o seguinte formato ex: 917548698"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-phone"></i></span>
                    <input asp-for="Telefone" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="TelefoneSecundario" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira um telemovel secundario por meio de segurança"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-phone"></i></span>
                    <input asp-for="TelefoneSecundario" />
                    <span asp-validation-for="TelefoneSecundario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="File" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira a sua foto de perfil.
Deverá ter o formato JPG, JPEG, PNG ou PDF"></span>
                    </div>
                    <div class="input-container">
                        <input type="file" id="real-input" asp-for="File">
                        <button class="browse-btn" type="button">
                            Escolher Ficheiro
                        </button>
                        <span class="file-info">Nenhum ficheiro inserido</span>
                    </div>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>

            <div class="adocao_direita">
                @{
                    Animal animal = Context.Animais.Where(a => a.Id == Model.AnimalId).FirstOrDefault();
                    animal.PorteAnimal = Context.Portes.Where(p => p.Id == animal.PorteId).FirstOrDefault();
                    animal.RacaAnimal = Context.Racas.Where(r => r.Id == animal.RacaId).FirstOrDefault();
                    animal.RacaAnimal.CategoriaRaca = Context.Categorias.Where(c => c.Id == animal.RacaAnimal.CategoriaId).FirstOrDefault();

                    if (animal.Foto != null)
                    {
                        string src = "/Animais/" + animal.Id + "/" + animal.Foto;
                        <img id="icon_animal" src="@src" />
                    }
                    else
                    {
                        <img id="icon_animal" src="~/images/dog-profile.png" />
                    }
                    <div>
                        <div class="space">
                            <span><i class="fa fa-paw cinzento"></i></span>
                            <span>@animal.NomeAnimal</span>
                        </div>
                        <div class="space">
                            <span><i class="fa fa-phone cinzento"></i></span>
                            <span>@animal.DataNasc.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="space">
                            <span><i class="fa fa-mars cinzento"></i></span>
                            <span>@animal.Sexo</span>
                        </div>
                        <div class="space">
                            <span><i class="fa fa-weight cinzento"></i></span>
                            <span>@animal.Peso Kg</span>
                        </div>
                        <div class="space">
                            <span><i class="fa fa-paw cinzento"></i></span>
                            <span>@animal.RacaAnimal.NomeRaca</span>
                        </div>
                    </div>
                }
                <div class="form-group" style="display:none">
                    <label asp-for="AnimalId" class="control-label"></label>
                    <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                          title="Selecione o animal a adotar"></span>
                    <i class="fa fa-asterisk required" title="Campo Obrigatório"></i>
                    <input asp-for="AnimalId" class="form-control" />
                    <span asp-validation-for="AnimalId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="bouton-contact">Registar Pedido</button>
    </form>
</div>

<div class="voltar">
    <a class="efeito efeito_botao_back" id="voltar" asp-controller="Utilizador" asp-action="Animais">Voltar</a>
</div>

<script>
    $('.browse-btn').bind('click', function () {
        $('#real-input').trigger('click');
    });

    $('#real-input').on('change', function () {
        var name = $('#real-input').val().split(/\\|\//).pop();
        var truncated = name.length > 20
            ? name.substr(name.length - 20)
            : name;

        $('.file-info').text(truncated);
    });
</script>