@using Afilhado4Patas.Data;
@model Afilhado4Patas.Models.ViewModels.PedidoAdocaoViewModel;

@inject ApplicationDbContext Context

<link href="~/css/FileInput/fileInput.css" rel="stylesheet" />
<link href="~/css/FormularioCSS/formularios.css" rel="stylesheet" />

<div id="registo_page">
    <form id="adocao" asp-controller="Utilizador" asp-action="PedidoAdocao" enctype="multipart/form-data">
        <h1>Pedido de Adoção <img id="icon_miniatura" src="~/images/adocao.png"/></h1>        
        <div class="contentform">
            <div class="adocao_esquerda">
                <div class="form-group">
                    <div>
                        <label asp-for="TipoAdocao" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o tipo de adoção que pretende
Adoção Total: Adote um animal a tempo inteiro e leve-o para casa
Apadrinhamento: Adote um animal a tempo parcial, podendo levá-lo durante fins-de-semanas e também para passeios"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-filter"></i></span>
                    <select id="TipoAdocao" name="TipoAdocao" onchange="AlteracaoAdocao(this.value)" asp-for="TipoAdocao">
                        <option value="undefined" selected>Escolha um tipo de adoção</option>
                        <option value="Total">Adoção Total</option>
                        <option value="Parcial">Adoção Parcial</option>
                    </select>
                    <span asp-validation-for="TipoAdocao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="NomeAdotante"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Nome do Adotante"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-user"></i></span>
                    <input type="text" asp-for="NomeAdotante" disabled />
                    <span asp-validation-for="NomeAdotante" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Morada" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o tipo de habitação onde vive"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-home"></i></span>
                    <select asp-for="Morada">
                        <option value="Apartamento">Apartamento</option>
                        <option value="Moradia">Moradia</option>
                        <option value="Quinta/Herdade">Quinta/Herdade</option>
                        <option value="Outro">Outro</option>
                    </select>
                    <span asp-validation-for="Morada" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Motivacao" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira a baixo a motivação porque quer adotar um animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-font"></i></span>
                    <textarea rows="3" asp-for="Motivacao" class="form-control"></textarea>
                    <span asp-validation-for="Motivacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="OutrosAnimais" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Caso existam outros animais em casa mencione a baixo"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-font"></i></span>
                    <textarea rows="3" asp-for="OutrosAnimais" class="form-control"></textarea>
                    <span asp-validation-for="OutrosAnimais" class="text-danger"></span>
                </div>
            </div>

            <div class="adocao_centro">
                <div class="form-group">
                    <div>
                        <label asp-for="Email" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira um email para contacto com o seguinte formato ex: exemplo@exemplo.com"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-envelope"></i></span>
                    <input asp-for="Email" type="text" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="EmailSecundario" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira um email secundario por meio de segurança"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-envelope"></i></span>
                    <input asp-for="EmailSecundario" />
                    <span asp-validation-for="EmailSecundario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Telefone" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira um telemovel para contacto com o seguinte formato ex: 917548698"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-phone"></i></span>
                    <input asp-for="Telefone" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="TelefoneSecundario" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira um telemovel secundario por meio de segurança"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-phone"></i></span>
                    <input asp-for="TelefoneSecundario" />
                    <span asp-validation-for="TelefoneSecundario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="File" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Insira a sua foto de perfil.
Deverá ter o formato JPG, JPEG, PNG ou PDF"></span>
                    </div>
                    <div class="input-container">
                        <input type="file" id="real-input" asp-for="File">
                        <button class="browse-btn" type="button">
                            Escolher Ficheiro
                        </button>
                        <span class="file-info">Nenhum ficheiro inserido</span>
                    </div>
                    <span asp-validation-for="File" class="text-danger"></span>
                </div>
            </div>


            <div class="adocao_direita">
                <div class="form-group">
                    <div>
                        <label asp-for="Categoria" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione a Especie do animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-filter"></i></span>
                    <select id="CategoriaID" name="CategoriaID" asp-for="Categoria" class="form-control" onchange="AlteracaoCategoria()"></select>
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Sexo"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o sexo do Animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-mars"></i></span>
                    <select id="Sexo" name="Sexo" onchange="AlteracaoSexo(this.value)" asp-for="Sexo">
                        <option value="Ambos" selected>Ambos</option>
                        <option value="Macho">Macho</option>
                        <option value="Femea">Femea</option>
                    </select>
                    <span asp-validation-for="Sexo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Porte" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o porte do animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-filter"></i></span>
                    <select id="PorteID" name="PorteID" asp-for="Porte" class="form-control" disabled onchange="AlteracaoPorte()"></select>
                    <span asp-validation-for="Porte" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="Raca" class="control-label"></label>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione a Raça do animal"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-filter"></i></span>
                    <select id="RacaID" name="RacaID" asp-for="Raca" class="form-control" disabled onchange="AlteracaoRaca()"></select>
                    <span asp-validation-for="Raca" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <label asp-for="AnimalId" class="control-label"></label>
                        <span class="vermelho">*</span>
                        <span data-placement="right" class="glyphicon glyphicon-info-sign" style="color:#539be2"
                              title="Selecione o animal a adotar"></span>
                    </div>
                    <span class="icon-case"><i class="fa fa-paw"></i></span>
                    <select id="AnimalID" name="AnimalID" asp-for="AnimalId" class="form-control"></select>
                    <span asp-validation-for="AnimalId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <button type="submit" class="bouton-contact">Registar Pedido</button>
    </form>
</div>


<script type="text/javascript">
    //*******************   Carregamento Inicial   *************************
    $(document).ready(function () {
        inicializarCategoria();
        inicializarPorte();
        inicializarRaca();
        inicializarAnimal();
    });

    function inicializarPorte() {
        $('#PorteID').empty();
        $('#PorteID').html("<option value='undefined'>Escolha primeiro uma Categoria</option>");
        $('#PorteID').prop('disabled', true);
    }

    function inicializarRaca() {
        $('#RacaID').empty();
        $('#RacaID').html("<option value='undefined'>Escolha primeiro um Porte</option>");
        $('#RacaID').prop('disabled', true);
    }

    function inicializarAnimal() {
        $('#AnimalID').empty();
        $('#AnimalID').html("<option value='undefined'>Escolha primeiro um Tipo de Adoção</option>");
        $('#AnimalID').prop('disabled', true);
    }


    function inicializarCategoria() {
        $('#CategoriaID').empty();
        $('#CategoriaID').html("<option value='undefined'>Escolha primeiro um Tipo de Adoção</option>");
        $('#CategoriaID').prop('disabled', true);
    }

        function receberSexoSelecionado() {
            var sexo = null;
            if ($('#Sexo').val() != undefined) {
                sexo = $('#Sexo').val();
            }
            return sexo;
    }

    function receberTipoAdocao() {
        var tipoAdocao = null;
        if ($('#TipoAdocao').val() != undefined) {
            tipoAdocao = $('#TipoAdocao').val();
        }
        return tipoAdocao;
    }

        function receberCategoriaSelecionada() {
            var categoria = null;
            if ($('#CategoriaID').val() != undefined) {
                categoria = $('#CategoriaID').val();
            }
            return categoria;
    }

    function receberPorteSelecionado() {
        var porte = null;
        if ($('#PorteID').val() != undefined) {
            porte = $('#PorteID').val();
        }
        return porte;
    }

    function receberRacaSelecionada() {
        var raca = null;
        if ($('#RacaID').val() != undefined) {
            raca = $('#RacaID').val();
        }
        return raca;
    }

    function carregarCategorias(tipoAdocao, sexo) {
        $('#CategoriaID').prop('disabled', false);
        var urlCategorias = '@Url.Content("~/")' + "Utilizador/Categorias";
        $.getJSON(urlCategorias, { TipoAdocao: tipoAdocao, Sexo: sexo }, function (data) {
            $('#CategoriaID').empty();
            var items = "";
            if (jQuery.isEmptyObject(data)) {
                items = "<option value='undefined' selected>Nenhuma Categoria Encontrada</option>";
            } else {
                items = "<option value='undefined' selected>Escolha uma Categoria</option>";
                $.each(data, function (i, categoria) {
                    items += "<option value='" + categoria.value + "'>" + categoria.text + "</option>";
                });
            }
            $('#CategoriaID').html(items);
        });
    }

    function carregarAnimaisTipoAdocaoSexo(tipoAdocao, sexo) {
        $('#AnimalID').prop('disabled', false);
            var urlAnimais = '@Url.Content("~/")' + "Utilizador/AnimaisTipoAdocaoSexo";
            $.getJSON(urlAnimais, { TipoAdocao: tipoAdocao, Sexo: sexo }, function (data) {
                $('#AnimalID').empty();
                var items = "";
                if (jQuery.isEmptyObject(data)) {
                    items = "<option value='undefined' selected>Nenhum Animal Encontrado</option>";
                } else {
                    items = "<option value='undefined' selected>Escolha um Animal</option>";
                    $.each(data, function (i, animal) {
                        items += "<option value='" + animal.value + "'>" + animal.text + "</option>";
                    });
                }
                $('#AnimalID').html(items);
            });
        }

    function carregarAnimaisPorCategoriaSexo(tipoAdocao, categoria, sexo) {
        $('#AnimalID').prop('disabled', false);
            var url = '@Url.Content("~/")' + "Utilizador/AnimaisCategoriaSexo";
        $.getJSON(url, { TipoAdocao: tipoAdocao, Categoria: categoria, Sexo: sexo }, function (data) {
            $('#AnimalID').empty();
                var items = "";
                if (jQuery.isEmptyObject(data)) {
                    items = "<option value='undefined' selected>Nenhum Animal Encontrado</option>";
                } else {
                    items = "<option value='undefined' selected>Escolha um Animal</option>";
                    $.each(data, function (i, animal) {
                        items += "<option value='" + animal.value + "'>" + animal.text + "</option>";
                    });
                }
                $('#AnimalID').html(items);
            });
    }

    function carregarAnimaisPorCategoriaSexoPorte(tipoAdocao, categoria, sexo, porte) {
        $('#AnimalID').prop('disabled', false);
            var url = '@Url.Content("~/")' + "Utilizador/AnimaisCategoriaSexoPorte";
        $.getJSON(url, { TipoAdocao: tipoAdocao, Categoria: categoria, Sexo: sexo, Porte: porte}, function (data) {
            $('#AnimalID').empty();
                var items = "";
                if (jQuery.isEmptyObject(data)) {
                    items = "<option value='undefined' selected>Nenhum Animal Encontrado</option>";
                } else {
                    items = "<option value='undefined' selected>Escolha um Animal</option>";
                    $.each(data, function (i, animal) {
                        items += "<option value='" + animal.value + "'>" + animal.text + "</option>";
                    });
                }
                $('#AnimalID').html(items);
            });
    }

    function carregarAnimaisPorCategoriaSexoPorteRaca(tipoAdocao, categoria, sexo, porte, raca) {
        $('#AnimalID').prop('disabled', false);
            var url = '@Url.Content("~/")' + "Utilizador/AnimaisCategoriaSexoPorteRaca";
        $.getJSON(url, { TipoAdocao: tipoAdocao, Categoria: categoria, Sexo: sexo, Porte: porte, Raca: raca}, function (data) {
            $('#AnimalID').empty();
                var items = "";
                if (jQuery.isEmptyObject(data)) {
                    items = "<option value='undefined' selected>Nenhum Animal Encontrado</option>";
                } else {
                    items = "<option value='undefined' selected>Escolha um Animal</option>";
                    $.each(data, function (i, animal) {
                        items += "<option value='" + animal.value + "'>" + animal.text + "</option>";
                    });
                }
                $('#AnimalID').html(items);
            });
    }

    function carregarPorte(tipoAdocao, categoria, sexo) {
        $('#PorteID').prop('disabled', false);
        var url = '@Url.Content("~/")' + "Utilizador/PorteCategoriaSexo";
        $.getJSON(url, { TipoAdocao: tipoAdocao, Categoria: categoria, Sexo: sexo }, function (data) {
            $('#PorteID').empty();
                var items = "";
                if (jQuery.isEmptyObject(data)) {
                    items = "<option value='undefined' selected>Nenhum Porte Encontrado</option>";
                } else {
                    items = "<option value='undefined' selected>Escolha um Porte</option>";
                    $.each(data, function (i, porte) {
                    items += "<option value='" + porte.value + "'>" + porte.text + "</option>";
                    });
                }
                $('#PorteID').html(items);
            });
    }

    function carregarRaca(tipoAdocao, categoria, sexo, porte) {
        $('#RacaID').prop('disabled', false);
        var url = '@Url.Content("~/")' + "Utilizador/RacaCategoriaSexoPorte";
        $.getJSON(url, { TipoAdocao: tipoAdocao, Categoria: categoria, Sexo: sexo , Porte: porte}, function (data) {
            $('#RacaID').empty();
                var items = "";
                if (jQuery.isEmptyObject(data)) {
                    items = "<option value='undefined' selected>Nenhuma Raça Encontrada</option>";
                } else {
                    items = "<option value='undefined' selected>Escolha uma Raça</option>";
                    $.each(data, function (i, raca) {
                    items += "<option value='" + raca.value + "'>" + raca.text + "</option>";
                    });
                }
            $('#RacaID').html(items);
            });
    }

    function AlteracaoAdocao(tipoAdocao) {
        inicializarPorte
        inicializarRaca();
        //Atualizar Animais
        carregarCategorias(tipoAdocao, receberSexoSelecionado());
        carregarAnimaisTipoAdocaoSexo(tipoAdocao, receberSexoSelecionado());
    }

    function AlteracaoCategoria() {
        inicializarRaca();
        //Atualizar Animais
        carregarPorte(receberTipoAdocao(), receberCategoriaSelecionada(), receberSexoSelecionado());
        carregarAnimaisPorCategoriaSexo(receberTipoAdocao(), receberCategoriaSelecionada(), receberSexoSelecionado());
    }

    function AlteracaoSexo(sexo) {
        inicializarRaca();
        //Atualizar Animais
        carregarCategorias(receberTipoAdocao(), sexo);
        carregarPorte(receberTipoAdocao(), receberCategoriaSelecionada(), sexo);
        carregarAnimaisPorCategoriaSexo(receberTipoAdocao(), receberCategoriaSelecionada(), sexo);
    }

    function AlteracaoPorte() {
        //Atualizar Animais
        carregarRaca(receberTipoAdocao(), receberCategoriaSelecionada(), receberSexoSelecionado(), receberPorteSelecionado());
        carregarAnimaisPorCategoriaSexoPorte(receberTipoAdocao(), receberCategoriaSelecionada(), receberSexoSelecionado(), receberPorteSelecionado());
    }

    function AlteracaoRaca() {
        carregarAnimaisPorCategoriaSexoPorteRaca(receberTipoAdocao(), receberCategoriaSelecionada(), receberSexoSelecionado(), receberPorteSelecionado(), receberRacaSelecionada());
    }
</script>

<script>
    $('.browse-btn').bind('click', function () {
        $('#real-input').trigger('click');
    });

    $('#real-input').on('change', function () {
        var name = $('#real-input').val().split(/\\|\//).pop();
        var truncated = name.length > 20
            ? name.substr(name.length - 20)
            : name;

        $('.file-info').text(truncated);
    });
</script>