@using Afilhado4Patas.Data

@inject ApplicationDbContext Context

<div id="top_image">
    <p id="titulo_animais">Os nossos animais</p>
</div>
<div id="pagina_pesquisa">
    <div id="container_left">
        @{
            List<Animal> lista_animais = new List<Animal>();
            foreach (var animal in Context.Animais.Where(a => a.Ativo == true).ToList())
            {
                animal.PorteAnimal = Context.Portes.Where(p => p.Id == animal.PorteId).FirstOrDefault();
                lista_animais.Add(animal);
            }
            @do
            {
                <div id="container" class="container">
                    <div id="row" class="row">
                        @{
                            int auxiliar = 0;
                            for (int contador = 0; contador < lista_animais.Count();)
                            {
                                if (auxiliar < 3)
                                {
                                    <div class="animal_item">
                                        <div class="product-grid6">
                                            <div class="product-image6">
                                                @{
                                                    if (lista_animais[contador].Foto != null)
                                                    {
                                                        string src = "/Animais/" + lista_animais[contador].Id + "/" + lista_animais[contador].Foto;
                                                        <img class="pic-1" src="@src" />
                                                    }
                                                    else
                                                    {
                                                        <img class="pic-1" src="~/images/dog-profile.png" />
                                                    }
                                                }
                                            </div>
                                            <div class="product-content">
                                                <h3 class="title">@lista_animais[contador].NomeAnimal</h3>
                                                <div>
                                                    @lista_animais[contador].Peso Kg
                                                    <span>@lista_animais[contador].PorteAnimal.TipoPorte</span>
                                                    @lista_animais[contador].Sexo
                                                </div>
                                            </div>
                                            <ul class="social">
                                                @if (User.IsInRole("Responsavel"))
                                                {
                                                    <li>
                                                        <a asp-controller="Responsavel" asp-action="FichaAnimal" data-tip="Ver Animal" asp-route-id=@lista_animais[contador].Id>
                                                            <i class="fa fa-paw"></i>
                                                        </a>
                                                    </li>
                                                }
                                                else if (User.IsInRole("Funcionario"))
                                                {
                                                    <li>
                                                        <a asp-controller="Funcionario" asp-action="FichaAnimal" data-tip="Ver Animal" asp-route-id=@lista_animais[contador].Id>
                                                            <i class="fa fa-paw"></i>
                                                        </a>
                                                    </li>
                                                }
                                                else if (User.IsInRole("Utilizador"))
                                                {
                                                    <li>
                                                        <a asp-controller="Utilizador" asp-action="FichaAnimal" data-tip="Ver Animal" asp-route-id=@lista_animais[contador].Id>
                                                            <i class="fa fa-paw"></i>
                                                        </a>

                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a asp-controller="Guest" asp-action="FichaAnimal" data-tip="Ver Animal" asp-route-id=@lista_animais[contador].Id>
                                                            <i class="fa fa-paw"></i>
                                                        </a>
                                                    </li>
                                                }
                                                <li><a data-tip="Adotar"><i class="fa fa-heart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    lista_animais.Remove(lista_animais[contador]);
                                    auxiliar++;
                                }
                                else
                                {
                                    break;
                                }
                            }
                        }
                    </div>
                </div>
            } while (lista_animais.Count() > 0);
        }
    </div>
    <div id="container_right">
        <header id="filtros">
            <p id="p_filtros">
                Filtros
                <a id="limpar_filtros">Limpar Todos</a>
            </p>
        </header>
        <div>
            <ul>
                @{
                    List<Categoria> categorias = Context.Categorias.ToList();
                    //List<Raca> racas = Context.Racas.ToList();
                    List<Porte> portes = Context.Portes.ToList();

                    <li>
                        <h1>Categorias</h1>
                        @foreach (var categoria in categorias)
                        {
                            <div>
                                <input type="checkbox" value=@categoria.Id />
                                <span>@categoria.Nome</span>
                            </div>
                        }
                    </li>
                    /*<li>
                        <h1>Raças</h1>
                        @foreach (var raca in racas)
                        {
                            <div>
                                <input type="checkbox" value=@raca.Id />
                                <span>@raca.NomeRaca</span>
                            </div>
                        }
                    </li>*/
                    <li>
                        <h1>Portes</h1>
                        @foreach (var porte in portes)
                        {
                            <div>
                                <input type="checkbox" value=@porte.Id />
                                <span>@porte.TipoPorte</span>
                            </div>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
