@model List<Animal>

@do
{
    <div id="container" class="container">
        <div id="row" class="row">
            @{
                for (int contador = 0; contador < Model.Count(); contador++)
                {
                    if (contador < 3)
                    {
                        <div class="animal_item">
                            <div class="product-grid6">
                                <div class="product-image6">
                                    @{
                                        if (Model[contador].Foto != null)
                                        {
                                            string src = "/Animais/" + Model[contador].Id + "/" + Model[contador].Foto;
                                            <img class="pic-1" src="@src" />
                                        }
                                        else
                                        {
                                            <img class="pic-1" src="~/images/dog-profile.png" />
                                        }
                                    }
                                </div>
                                <div class="product-content">
                                    <h3 class="title">@Model[contador].NomeAnimal</h3>
                                    <div>
                                        @Model[contador].Peso Kg
                                        <span>@Model[contador].PorteAnimal.TipoPorte</span>
                                        @Model[contador].Sexo
                                    </div>
                                </div>
                                <ul class="social">
                                    @if (User.IsInRole("Responsavel"))
                                    {
                                        <li>
                                            <a asp-controller="Responsavel" asp-action="FichaAnimal" data-tip="Ver Animal" asp-route-id=@Model[contador].Id>
                                                <i class="fa fa-paw"></i>
                                            </a>
                                        </li>
                                    }
                                    else if (User.IsInRole("Funcionario"))
                                    {
                                        <li>
                                            <a asp-controller="Funcionario" asp-action="FichaAnimal" data-tip="Ver Animal" asp-route-id=@Model[contador].Id>
                                                <i class="fa fa-paw"></i>
                                            </a>
                                        </li>
                                    }
                                    else if (User.IsInRole("Utilizador"))
                                    {
                                        <li>
                                            <a asp-controller="Utilizador" asp-action="FichaAnimal" data-tip="Ver Animal" asp-route-id=@Model[contador].Id>
                                                <i class="fa fa-paw"></i>
                                            </a>

                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a asp-controller="Guest" asp-action="FichaAnimal" data-tip="Ver Animal" asp-route-id=@Model[contador].Id>
                                                >
                                                <i class="fa fa-paw"></i>
                                            </a>
                                        </li>
                                    }
                                    <li><a data-tip="Adotar"><i class="fa fa-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        Model.Remove(Model[contador]);
                    }
                    else
                    {
                        break;
                    }
                }
            }
        </div>
    </div>
} while (Model.Count() > 0);
